.signMainForm {
  background: #d7eded;
  padding-bottom: 4%;
  border-radius: 3%;
  margin: 6% auto;
  padding-left: 2% !important;
  padding-right: 2% !important;
}

.Heading {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 2%;
  margin: auto auto;
}
